<h1>Index</h1>

<% @kittens.each do |k| %>
  <%= k.name %>
  <%= k.age %>
  <%= k.cuteness %>
  <%= k.softness %>
  <%= link_to 'Destroy', kitten_path(k), data: {:confirm => 'Do you really want to delete this cutie?'}, :method => :delete %>
  <br>
<% end %>
